$body-color: rgb(101, 77, 59);
$body-light: rgb(175, 162, 135);
$footer-bg: rgb(54, 42, 36);
$programs-light: rgb(245, 239, 215);

$sidebar-even: rgb(176, 163, 136);
$sidebar-odd: rgb(214, 205, 168);

$kal-yellow: rgb(246, 238, 107);
$kal-purple: rgb(132, 76, 157);
$kal-red: rgb(236, 31, 35);

$callout-bg: rgb(153, 34, 34);
$callout-border: rgb(102, 0, 0);

$collapsed-list: rgb(255, 204, 0);

$icm-collapser: rgb(214, 205, 168);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

body {
  color: $body-color;
}

a,
a:hover,
a:active,
a:visited {
  color: $body-color;
}

hr {
  color: $body-light;
}

.callout {
  background-color: $callout-bg;
  border-color: $callout-border;
  color: $white;
}

.container {
  border-color: $body-color;
}

#footer > div {
  background-color: $footer-bg;
  color: $body-light;
}

.nav-menu span {
  color: $white;
}

.nav-menu .yellow span {
  color: $footer-bg;
}

.programs .circle {
  background-color: $footer-bg;
  color: $programs-light;
}

.extras .yellow {
  background-color: $kal-yellow;
  color: $footer-bg;
}

.extras .purple {
  background-color: $kal-purple;
  color: $white;
}

.extras .red {
  background-color: $kal-red;
  color: $white;
}

.extra {
  background-color: $footer-bg;
  color: $body-light;
}

.programs-3col:hover {
  background-color: $body-light;
  color: $footer-bg;
}

.divider {
  border-color: $footer-bg;
}

.right {
  border-color: $footer-bg;
}

.sidebar-table tbody tr {
  background-color: $sidebar-even;
}

.sidebar tbody tr:nth-of-type(even) {
  background-color: $sidebar-odd;
}

.teacher {
  background-color: $body-light;
  color: $footer-bg;
}

.teacher-picture span {
  background-color: $footer-bg;
  color: $body-light;
}

.collapsed-list {
  border-color: $black;

  div {
    background-color: $collapsed-list;
  }
}

.icm-collapser {
  background-color: $icm-collapser;
}
