@import url( 'https://fonts.googleapis.com/css?family=Arvo:400,700|Rancho');
$body-font: 'Arvo', serif;
$script-font: 'Rancho', fantasy, cursive;

html {
  font-size: 16px;
}

body {
  font-family: $body-font;
  line-height: 1.625rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
p {
  margin: 1.625rem 0;
}

.rancho {
  font-family: $script-font;
}

.nav-menu {
  font-family: $script-font;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.circle {
  font-size: 1.6rem;
}

.programs .circle p:nth-child(2) {
  font-size: .5em;
}

.extras .circle {
  font-family: $script-font;

  p:nth-child(1) {
    font-size: .5em;
  }

  p:nth-child(2) {
    line-height: .9em;
  }
}

.extra {
  font-family: $script-font;
  font-size: .75em;
}

.sidebar {
  font-size: .75rem;
}

.teacher-picture span {
  font-size: .75em;
}

.newsletter-signature {
  font-family: $script-font;
  font-size: 2em;
}

.inline-collapse-menu {
  //font-size: 80%;
}
