- var pageName = "";

doctype html

head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="author" content="")
  meta(name="description" content="")
  meta(name="keywords" content="")
  title Kids-A-Lot #{pageName}

  block styles
    link(rel="stylesheet" type="text/css" href="css/styles.min.css")

body
  .hero
    .hero-body
      .container.level
        img.horse.level-item.is-hidden-touch(src="img/horse_left.gif")
        img.logo.level-item.is-centered(src="img/header-new.png")
        img.horse.level-item.is-hidden-touch(src="img/horse_right.gif")
  
  nav.nav
    .container
      block header
      include _header.pug
  
  main
    .container
      section.section
        .content
          block content
  
  footer.footer
    block footer

  // Scripts
  block scripts
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    script(type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.js?features=default,es6")
    script(type="text/javascript" src="https://use.fontawesome.com/150ea0f29a.js")
    script(type="text/javascript" src="js/scripts.js")
